@keyframes sidebarIn {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }

  15% {
    /* transform: translateX(8px); */
    opacity: 1;
  }
  25% {
   opacity: 0; /* transform: translateX(-4px); */
  }

  

  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@keyframes sidebarOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-6px);
    opacity: 0;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
    
  }
}


@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* hanya 1 scrollbar */



*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}